.posts-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.post-preview {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    overflow: hidden;
}

.post-image {
    height: 150px;
    background-size: cover;
    background-position: center center;
}

.post-preview h2 {
    font-size: 1.2em;
    margin: 16px;
}

.post-date, .post-summary {
    margin: 0 16px 16px 16px;
    color: #666;
}

.post-summary {
    font-size: 0.9em;
}
