.posts-list {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Space between posts */
}

.post-preview {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: white; /* White background */
    padding: 15px; /* Padding inside the box */
    margin: 10px 0; /* Margin around the box for spacing */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow for depth */
    border-radius: 5px; /* Optional: rounds the corners of the box */
}

.post-image img {
    width: 100%; /* Make image fill the container */
    height: auto; /* Maintain aspect ratio */
    border-bottom: 1px solid #ddd; /* Separation line between image and text */
}

.post-details {
    padding: 15px;
}

.post-details h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

.post-details time {
    font-size: 1.0rem;
    color: #666;
}

.post-details p {
    margin-top: 10px;
}

.post-details .post-author {
    font-size: 1.0rem;
    color: #666;
    margin-top: 10px; /* Adjust spacing as needed */
}

.post-details .post-summary-box {
    background-color: white; /* White background */
    padding: 15px; /* Padding inside the box */
    margin: 10px 0; /* Margin around the box for spacing */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow for depth */
    border-radius: 5px; /* Optional: rounds the corners of the box */
}
