.post-content a {
    text-decoration: underline;
    color: blue;
}

.post-content a:hover {
    opacity: 100%;
    transition: opacity 200ms;
}

.post-content a:hover {
    opacity: 75%;
}

.post-content {
	/* font-size: 32px; */
    /* line-height: 1.2em; */
	color: var(--content);
    font-family: Georgia;
}