:root {
    /* --line-height:1.1em; */
    --post-width:1200px;
    --monospace: monospace;
}

.main.post {
    --main-width:1200px;
    position: relative;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	max-width: calc(var(--main-width) + var(--gap) * 2);
	margin: auto;
    margin-right: 50px;
	padding: var(--content-gap)var(--gap)0;
}

.post-content {
	/* font-size: 20px; */
    /* line-height: 1.2em; */
	color: var(--content);
    font-family: Georgia;
}