<div style="display: flex !important; align-items: center !important; gap: 25px !important;">
    <a href="https://arxiv.org/abs/{{ .Get "arxiv-index" }}" target="_blank" rel="noopener noreferrer">
        <img src="https://img.shields.io/badge/arXiv-{{ .Get "arxiv-index" }}-white.svg?style=social" style="transform: scale(1.2);">
    </a>
    <a href="https://github.com/{{ .Get "github" }}" target="_blank" rel="noopener noreferrer">
        <img src="https://img.shields.io/github/stars/{{ .Get "github" }}?style=social" style="transform: scale(1.2);">
    </a>
</div>
