<style>
  .gray-text {
    color: #808080;
  }
</style>

{{ if .Get "title" }}
    <figure>
	<div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
                <img src="{{ .Get "src1" }}" alt="{{ .Get "alt1" }}" style="width: {{ .Get "width1" }}; height: auto;"> 
		<img src="{{ .Get "src2" }}" alt="{{ .Get "alt2" }}" style="width: {{ .Get "width2" }}; height: auto;">
	</div>
	<div style="display: grid; place-items: center;">
		<figcaption style="font-size: 16px;" class="gray-text">{{ .Get "title" }}</figcaption>
	</div>
    </figure>
{{ else }}
  <img src="{{ .Get "src1" }}" alt="{{ .Get "alt1" }}" style="width: {{ .Get "width1" }}; height: auto;"> <img src="{{ .Get "src2" }}" alt="{{ .Get "alt2" }}" style="width: {{ .Get "width2" }}; height: auto;">
{{ end }}
